# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objetivos
1. Explorar conceitos fundamentais de ciência de dados.
2. Utilizar diversas ferramentas e bibliotecas populares.
3. Aplicar expressões aritméticas em exemplos práticos.

## Linguagens de Ciência de Dados
- Python
- R
- Julia
- SQL

## Bibliotecas de Ciência de Dados
- Pandas
- NumPy
- Matplotlib
- Seaborn
- Scikit-learn

## Ferramentas de Ciência de Dados

| Ferramenta         | Descrição                              |
|---------------------|----------------------------------------|
| Jupyter Notebooks   | Ambiente interativo para análise de dados|
| TensorFlow         | Biblioteca para machine learning        |
| Tableau            | Ferramenta de visualização de dados     |

## Expressões Aritméticas

### Below are a few examples of evaluating arithmetic expressions in Python:
- Adição: 8 + 12
- Divisão: 20 / 4
- Multiplicação: 6 * 7

In [4]:
# esta é uma expressão aritmética simples para mutiply e, em seguida, adicionar inteiros
print((3*4)+5)

17

In [2]:
# Convertendo minutos em horas
# isso converterá 200 minutos em horas mergulhando em 60
minutos = 200
horas = minutos / 60
horas

3.3333333333333335

## Autor
Ana Luisa Goes